# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Logs and temporary files
*.log
*.tmp